body {
    max-width: 1400px;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;


    padding-left: 62px;
    padding-right: 50px;
}

/* en-tete avec logo*/
a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 63px;
    padding-top: 44px;
    margin-left: 0%;
    margin-right: 0%;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -43px;
}

nav img {
    width: 61.09px;
    height: 19px;
}

.link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-left: 68px;
    padding-top: 43px;
    border-top: 3px solid #FFFFFF;
}

.link:hover {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.intro {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    color: #000000;
}

.txt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* barre de recherche */

form {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 30px;
}

form div{
    background: #F2F2F2;
    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

form div i {
    width: 14px;
    height: 18px;
    margin-left: 18px;
    margin-top: 16px;
    color: #000000;
}

input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border: 1px solid #F2F2F2;
    height: 48px;
}

button {
    height: 52px;
    justify-content: center;
    min-width: 49px;
    max-width: 132px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

#loupe {
    display: none;
    color: #FFFFFF;
}

/* filtres */
.section {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    height: 50px;
}

.section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    max-width: 890px;
    margin-left: 10px;
}

#anim,
#eco,
#famille,
#rom {
    position: relative;
    border: 2px solid #D9D9D9;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#eco {
    width: 175px;
    height: 44px;

}

#billet {
    position: relative;
    height: 16.26px;
    width: 22px;

}

#famille {
    width: 136px;
    height: 44px;
}

#homme {
    position: relative;
    height: 22px;
    width: 13.44px;
}


#rom {
    width: 175px;
    height: 44px;
}

#coeur {
    position: relative;
    width: 22px;
    height: 18.33px;
}

#anim {
    width: 226px;
    height: 44px;
}

#chien {
    position: relative;
    height: 22px;
    width: 22px;
}

#eco:hover,
#rom:hover,
#famille:hover,
#anim:hover {
    background: #DEEBFF;
}

#info {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
    align-items: center;
    justify-content: start;
    width: 100%;
}

#rond {
    position: relative;
    display: flex;
    width: 26px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    justify-content: center;
    padding-top: 4px;
    margin-right: 7px;
}

#i {
    width: 4px;
    height: 10px;
    position: relative;
}

/*resultats*/
.result {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;
}

/* hébergement */

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.container {
    position: relative;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.resultTitle {
    position: relative;
    margin-left: 30px;
    margin-top: 42px;
    margin-bottom: 23px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.heberge {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 450px;
}

.boxHeberg {
    position: relative;
    width: 246px;
    height: 199px;
    border-radius: 20px;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.canebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
    width: 236px;
    height: 114px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
}

.canebiere {
    background-image: url(../Images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.port {
    background-image: url(../Images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.mouettes {
    background-image: url(../Images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.mer {
    background-image: url(../Images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.panier {
    background-image: url(../Images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.amina {
    background-image: url(../Images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.descrHeberg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 68px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.titre {
    position: relative;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.descr {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 0px;
}

.etoile {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12px;
}

#more {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 3%;
    margin-top: 20px;

}

/* poupulaire */

.container2 {
    position: relative;
    width: 420px;
    height: 625px;
    border-radius: 20px;
    background: #F2F2F2;
}

.popu {
    position: relative;
    width: 420px;
    height: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boxPopu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 343px;
    height: 144px;
    margin-bottom: 33px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.soleilMatin {
    width: 137px;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    background-image: url(../Images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.coeurEau {
    width: 137px;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    background-image: url(../Images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.bleuBlanc {
    width: 137px;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    background-image: url(../Images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.descrPopu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5px;
    height: 136px;
}

.titre2 {
    position: relative;
    width: 160px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: -17px;

}

.descr2 {
    position: relative;
    width: 169px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 17px;
}

/*logo bleu */

.etoile {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12px;
}

i {
    color: #0065FC;
}

.grise {
    color: #F2F2F2;
}

.etoile2 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12px;
}

#courbe {
    position: absolute;
    top: 45px;
    right: 50px;
}

#activités {
    margin-top: 60px;
}

#acti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vport,
#pomeg,
#cal,
#notre {
    position: relative;
    width: 302px;
    height: 389px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

#vport {
    background-image: url(../Images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

#pomeg {
    background-image: url(../Images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

#cal {
    background-image: url(../Images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

#notre {
    background-image: url(../Images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.blockActi {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 0px 10px #F2F2F2;
}

.legend {
    position: relative;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    height: 56px;
}


footer {
    background-color: #F2F2F2;
    height: 225px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 10px;
}


#propos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    line-height: 100%;

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        justify-content: center;
        max-width: 992px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #intro,
    form,
    nav {
        margin-left: 7px;
    }

    nav div {
        margin-right: 7px;
    }

    /* filtres*/

    .section {
        padding-left: 7px;
        width: 98%;
    }

    #rond {
        margin-left: 7px;
    }

    /*resultats*/
    .result {
        flex-direction: column;
        height: 950px;
    }

    .container {
        width: 100%;
    }

    /* poupulaire */

    .container2 {
        width: 100%;
        height: 278px;
    }

    .popu {
        width: 100%;
        height: 60%;
        margin-left: 0px;
        margin-top: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }

    .boxPopu {
        width: 252px;
        height: 144px;
    }

    .descrPopu {
        height: 95%;
    }

    .titre2 {
        width: 111px;
        margin-bottom: 3px;
    }

    .descr2 {
        width: 120px;

    }

    .soleilMatin,
    .coeurEau,
    .bleuBlanc {
        width: 106px;
    }

    #vport {
        background-image: url(../Images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }

    #pomeg {
        background-image: url(../Images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }

    #cal {
        background-image: url(../Images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    #notre {
        background-image: url(../Images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);

    }

    .blockActi {
        border-radius: 20px 20px 20px 20px;
        width: 182px;
        height: 267px;
    }

    #acti {
        padding-left: 7px;
        padding-right: 7px;
    }

    #vport,
    #pomeg,
    #cal,
    #notre {
        width: 182px;
        height: 267px;
        border-radius: 20px 20px 0px 0px;
    }

    .legend {
        box-shadow: 6px 0px px #F2F2F2;
    }
}

@media screen and (max-width: 768px) {

    body {

        justify-content: space-around;
        max-width: 768px;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }


    nav {
        flex-direction: column;
        padding-top: 10px;
    }

    nav div {
        padding-top: 36px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: -50px;
    }

    .link {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        border-top: 0px;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
        margin-left: 0px;

    }

    .link:hover {
        border-bottom: 3px solid #0065FC;
        border-top: 0px;
    }

    nav img {
        margin: auto;
    }

    .intro {
        margin-left: 7px;
        font-size: 15px;
    }

    form {
        justify-content: center;
        margin-left: -5%;
    }

    button span {
        display: none;
    }

    #loupe {
        display: initial;
        color: #FFFFFF;

    }

    .section {
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        margin-left: 0px;
    }

    .section > p {
        margin-left: 5%;
    }

     .section div{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        max-width: 768px;
        width: 100%;
        margin-left: 0px
    }

    .filtre {
        font-size: 15px;
        width: 50%;
    }

    #anim,
    #eco,
    #famille,
    #rom {
        justify-content: start;
        width: 160px;
        height: 46px;
        padding-left: 20px;
    }

    #billet,
    #homme,
    #coeur,
    #chien {
        margin-top: 6px;
    }

    #rond {
        margin-left: 7px;
    }

    /*resultats*/
    .result {
        flex-direction: column-reverse;
        width: 100%;
    }

    .heberge {
        flex-direction: column;
        align-content: center;
        height: 1300px;

    }

    .container {
        width: 100%;
        height: 1425px;
        background: #FFFFFF;
    }

    .boxHeberg {
        position: relative;
        width: 335px;
        box-shadow: 6px 0px 10px #F2F2F2;
    }

    .canebiere,
    .port,
    .mouettes,
    .mer,
    .panier,
    .amina {
        width: 325px;
    }

    .container2 {
        width: 100%;
        border-radius: 0px;
    }

    .popu {
        width: 100%;
    }

    #acti {
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 850px;
    }

    #vport,
    #pomeg,
    #cal,
    #notre {
        width: 335px;
        height: 134px;
    }

    .legend {
        box-shadow: 6px 0px px #F2F2F2;
    }

    footer {
        height: 470px;
        padding-left: 7%;
        align-items: baseline;
    }

    .size{
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
    }
}