/* en-tete avec logo*/
a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 63px;
    padding-top: 44px;
    margin-left: 0%;
    margin-right: 0%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -43px;
}

header img {
    width: 61.09px;
    height: 19px;
}

.link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-left: 68px;
    padding-top: 43px;
    border-top: 3px solid #FFFFFF;
}

.link:hover {
    font-weight: 500;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

body {
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;


    padding-left: 62px;
    padding-right: 50px;
}

/*texte d'introduction*/

.intro {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    color: #000000;
}

.txt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* barre de recherche */

form {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 30px;
}

form div {
    background: #F2F2F2;
    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

form div i {
    width: 14px;
    height: 18px;
    margin-left: 18px;
    margin-top: 14px;
    color: #000000;
}

input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border: 1px solid #F2F2F2;
    height: 48px;
}

button {
    height: 52px;
    justify-content: center;
    min-width: 49px;
    max-width: 132px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

button .loupe {
    display: none;
    color: #FFFFFF;
}

/* filtres */
.section {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
}

.section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
    width: 100%;
    max-width: 890px;
    margin-left: 10px;
    height: auto;
}

.anim,
.eco,
.famille,
.rom {
    position: relative;
    border: 2px solid #D9D9D9;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 44px;
}

.eco {
    max-width: 175px;
}

.billet {
    position: relative;
    height: 16.26px;
    width: 22px;

}

.famille {
    max-width: 136px;
}

.homme {
    position: relative;
    height: 22px;
    width: 13.44px;
}


.rom {
    max-width: 175px;
}

.coeur {
    position: relative;
    width: 22px;
    height: 18.33px;
}

.anim {
    max-width: 226px;
    min-width: 200px;
}

.chien {
    position: relative;
    height: 22px;
    width: 22px;
}

.eco:hover,
.rom:hover,
.famille:hover,
.anim:hover {
    background: #DEEBFF;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.info div {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    align-items: center;
    justify-content: center ;
    padding-top: 0px;
    margin-right: 2%;
}

.info div i {
    position: relative;
}

/*resultats*/
.result {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;
    gap: 10px;
}

/* hébergement */

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.result article:first-child {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 626px;
    border-radius: 20px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex: 7;
}

.resultTitle {
    position: relative;
    margin-left: 4%;
    margin-top: 42px;
    margin-bottom: 23px;
}

/*hébergement à Marseille*/

.heberge {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    column-gap: 5px;
    row-gap: 20px;

}

.boxHeberg {
    position: relative;
    width: 28%;
    border-radius: 20px;
    background-color: #FFFFFF;
    justify-content: space-between;


}

.canebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
    width: auto;
    max-width: 236px;
    height: 114px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
}

.canebiere {
    background-image: url(../Images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.port {
    background-image: url(../Images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.mouettes {
    background-image: url(../Images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.mer {
    background-image: url(../Images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.panier {
    background-image: url(../Images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.amina {
    background-image: url(../Images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.descrHeberg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 68px;
    padding-left: 6%;
    padding-bottom: 5px;
    width: 100%;
    max-width: 246px;
}

.titre {
    position: relative;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 175px;

}

.descr {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 0px;
    width: 160px;
}

.etoile {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12px;
    width: 100px;
}

#hebergement>a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 3%;
    margin-top: 40px;

}

/* populaire */

.result article:last-child {
    position: relative;
    max-width: 420px;
    width: 100%;
    height: 625px;
    border-radius: 20px;
    background: #F2F2F2;
    flex: 3;
    padding-left: 5px;
    padding-right: 5px;
}

.popu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxPopu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 343px;
    width: 100%;
    height: 144px;
    margin-bottom: 33px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.soleilMatin,
.coeurEau,
.bleuBlanc {
    width: 100%;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-position: center;
}

.soleilMatin {
    background-image: url(../Images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.coeurEau {
    background-image: url(../Images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.bleuBlanc {
    background-image: url(../Images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.descrPopu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 25px;
    height: 136px;
    width: 100%;
    min-width: 100px;

}

.titre2 {
    position: relative;
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0px;


}

.descr2 {
    position: relative;
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 17px;

}

/*logo bleu */

.etoile {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12px;
}

i {
    color: #0065FC;
}

.grise {
    color: #F2F2F2;
}

.etoile2 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12px;
}

.courbe {
    position: absolute;
    top: 49px;
    right: 9%;
}

#activites {
    margin-top: 60px;
}

#activites article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.vport,
.pomeg,
.cal,
.notre {
    position: relative;
    max-width: 302px;
    min-width: 200px;
    height: 389px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.vport {
    background-image: url(../Images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.pomeg {
    background-image: url(../Images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.cal {
    background-image: url(../Images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.notre {
    background-image: url(../Images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.blockActi {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 0px 10px #F2F2F2;
    max-width: 302px;
    min-width: 200px;
    width: 100%;
}

.legend {
    position: relative;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    height: 56px;
}


footer {
    background-color: #F2F2F2;
    height: 225px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 10px;
}


.propos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    line-height: 100%;

}

@media screen and (max-width: 992px){

    #intro,
    form,
    header {
        margin-left: 7px;
    }

    nav {
        margin-right: 7px;
    }

    body {
        justify-content: center;
        max-width: 992px;
        padding-left: 35px;
        padding-right: 35px;
    }

    /* filtres*/

    .section {
        padding-left: 7px;
        width: 98%;
    }

    .anim,
    .eco,
    .famille,
    .rom {
        margin-left: 10px;
    }

    .info div {
        margin-left: 7px;
    }

    /*Hébergements*/
    .result {
        flex-direction: column;
        height: 100%;
        max-height: 1500px;
    }

    .result article:first-child {
        width: 100%;
    }

    /* populaire */

    .result article:last-child {
        min-width: unset;
        max-width: none;
        width: 100%;
        height: 100%;
        max-height: 630px;
        padding: 0px;
    }

    .heberge {
        column-gap: 5px;
        row-gap: 15px;
    }

    #hebergement>a {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .popu {
        height: 60%;
        margin-left: 0px;
        margin-top: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        gap: 5px;
        width: 99%;
        padding-left: 3px;
        padding-right: 3px;
    }

    .boxPopu {
        max-width: 245px;
    }

    .descrPopu {
        height: 95%;
        width: 100%;
        margin-right: 0px;
    }

    .titre2 {
        width: 100%;
        margin-bottom: 3px;
    }

    .descr2 {
        width: 90%;

    }

    .soleilMatin,
    .coeurEau,
    .bleuBlanc {
        width: 80%;
    }

    .vport {
        background-image: url(../Images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }

    .pomeg {
        background-image: url(../Images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }

    .cal {
        background-image: url(../Images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    .notre {
        background-image: url(../Images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);

    }

    .blockActi {
        border-radius: 20px 20px 20px 20px;
        height: 267px;
        max-width: 182px;
        min-width: 100px;
        width: 100%;
    }

    #activites article {
        padding-left: 7px;
        padding-right: 7px;
    }

    .vport,
    .pomeg,
    .cal,
    .notre {
        max-width: 182px;
        min-width: 100px;
        width: 100%;
        height: 267px;
        border-radius: 20px 20px 0px 0px;
    }

    .legend {
        box-shadow: 6px 0px 0px #F2F2F2;
    }
}

@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    nav {
        padding-top: 36px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: -50px;
    }

    .link {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        border-top: 0px;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
        margin-left: 0px;

    }

    .link:hover {
        border-bottom: 3px solid #0065FC;
        border-top: 0px;
    }

    nav img {
        margin: auto;
    }

    body {
        justify-content: space-around;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }


    h1,
    .intro p {
        margin-left: 5%;
    }

    h1 {
        font-size: 24px;
    }

    form {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    button span {
        display: none;
    }

    button .loupe {
        display: initial;
        color: #FFFFFF;

    }

    .section {
        width: 99%;
        flex-direction: column;
        margin-left: 0px;
        align-items: start;
        padding-left: 0px;
    }

    .section p:first-child {
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .section div {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        row-gap: 10px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .filtre {
        font-size: 11px;
        width: 100%;
    }

    .anim,
    .eco,
    .famille,
    .rom {
        justify-content: start;
        height: 46px;
        padding-left: 20px;
        width: 46%;
        min-width: unset;
        max-width: 160px;
        box-sizing: border-box;
    }

    .billet,
    .homme,
    .coeur,
    .chien {
        margin-top: 6px;
        margin-left: -7px;
    }

    .info{
        margin-top: 0px;
    }

    .info div {
        margin-left: 7px;
    }

    /*resultats*/
    .result {
        flex-direction: column-reverse;
        width: 100%;
        max-height: none;
    }

    .heberge {
        flex-direction: column;
        align-content: center;
        height: 1300px;
        max-height: none;
    }
    .boxHeberg{
        width: 100%;
        max-width: 335px;
    }
    #hebergement>a {
        padding-top: 20px;
        margin-bottom: -20px;
    }

    .result article:first-child {
        width: 100%;

        height: 1425px;
        background: #FFFFFF;
    }

    .boxHeberg {
        position: relative;
        max-width: 335px;
        box-shadow: 6px 0px 10px #F2F2F2;
    }

    .canebiere,
    .port,
    .mouettes,
    .mer,
    .panier,
    .amina {
        max-width: 325px;
    }

    .result article:last-child {
        width: 100%;
        max-width: none;
        border-radius: 0px;
        padding: 0px;
    }

    .popu {
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-height: none;
    }

    .boxPopu {
        max-width: 335px;
    }
    

    #activites article {
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 850px;
        gap: 20px;
    }

    .blockActi {
        max-width: 335px;
        width: 100%;
    }

    .vport,
    .pomeg,
    .cal,
    .notre {
        max-width: 335px;
        height: 134px;
    }

    .legend {
        box-shadow: 6px 0px 0px #F2F2F2;
        height: 55px;
        box-sizing: border-box;
        padding-top: 10px;
    }

    footer {
        height: 470px;
        padding-left: 7%;
        align-items: baseline;
    }

    .size {
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
    }
}